.line-scale>div, .line-scale-party>div, .line-scale-pulse-out>div, .line-scale-pulse-out-rapid>div {
  background-color: black;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}


.member-container {
  float: left;
  width: 180px;
  height: 150px;
  overflow: scroll;;
}
