.line-scale>div, .line-scale-party>div, .line-scale-pulse-out>div, .line-scale-pulse-out-rapid>div {
  background-color: black;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
